.banner{
    background-color: lightslategrey;
}
.tre-ruter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.ruter{
    border: 1px solid black;
    padding: 20px;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

img{
    max-width: 100%;
    width: fit-content;
    
}

.sosialemedier{

    display: flex;
    flex-direction: column;
}

.snarveier{
    display: flex;
    flex-direction: column;
}

.hovedbilder{
    max-width: 100%;
    width: fit-content;
}

.Merkenavn{
    font-weight: normal;
    font-size: 18px;
    text-decoration: underline;
}

.produktinfo{
 font-size: 20px;   
}

.Dine-opplysninger{
    display: flex;
    flex-direction: column;
}
