.banner{
    background-color: lightslategrey;
}
.tre-ruter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.ruter{
    border: 1px solid black;
    padding: 20px;
    width: 80px;
    text-align: center;
    font-weight: bold;
}

img{
    max-width: 100%;
    width: fit-content;
    
}
